services:
  postgresql:
    image: "postgres:latest"
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./db-data/:/var/lib/postgresql/data/ # share data with root repo
  app-node:
    image: "dsec/basecamp-api:latest"
    container_name: app-node
    ports:
      - "8080:8080"
    depends_on:

      - "postgresql"